@charset "utf-8";

header {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
header > h1 {
  font-weight: 900;
  color: orange;
  text-decoration: underline;
}

header > h1 > span {
  color: red;
}

#slides {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 250px;
  height: 450px;
  margin: 0 auto;
}
#slides > .hair {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: calc(250px*4);
}
#slides > .hair > li {
  overflow: hidden;
  width: 250px;
  height: 100px;
}
#slides > .hair > li > a {
  display: block;
  width: 100%;
}

#slides > .slides-pagenation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 67px;
  margin-left: -34px;
}
#slides > .slides-pagenation > li {
  width: 13px;
  background-image: url(./../images/pagination.png);
}

#slides > .slides-pagenation > li.on,
#slides > .slides-pagenation > li.on:hover {
  background-position: 0 -26px;
}
#slides > .slides-pagenation > li:hover {
  background-position: 0 -13px;
}
#slides > .slides-pagenation > li > a {
  display: block;
  height: 13px;
  text-indent: -9999px;
}
footer > address {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
